*{
    box-sizing: border-box;
}
body
{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 10px;
   
}
/* form
{
    display: flex;
} */
/* h1
{ text-align: center;
    justify-content: center;
} */
label 
{
    margin: 10px;
    display: inline-block;
}
input
{
    display: flex;
    margin: 5px;
}