*{
    box-sizing: border-box;
}
body
{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    padding: 10px;
  
   
}

label{
    display: flex;
    padding: 10px;
}
input[type="checkbox"]
{
    /* display:inline-block; */
    flex-direction: column;
}
