*{
    box-sizing: border-box;
}
body
{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 10px;
   
}

label 
{
    margin: 10px;
    display: block;
}
input
{
    display: flex;
    margin: 5px;
}