*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container
{
   
    margin: 0;
    font-size: 16px;
    max-width: 100%;
}
div li
{
    margin: 10px;
}
.navbar ul
{
    background: blue; 
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
   

   
}
li{
    display: inline-block;
    text-align: center;
   
   
}
a
{
    
    color: white;
    text-decoration: none;
    background: blue;
}

